  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
 }

body {
    background: #F9F9F9;
}

h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 26px !important;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #181B22;
}

h3 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 120%;
  letter-spacing: -0.008em;
  color: #181B22;
}

h6 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #181B22;
}

/*Меню*/

#main-menu, #main-menu-name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #4F4F57;
}

#alert-count {
    width: 36px;
    height: 25px;
    background: #FF8522;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 144%;
    color: #181B22;
}

#ring-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    top: -4px;
    right: -4px;
    background: #FF8522;
    border-radius: 50%;
}

#booking-filters {
    display: flex;
    align-items: center;
  }

  /* Выпадающие списки */

  .custom-select-wrapper {
    position: relative;
    width: 100%;
  }

  .custom-select {
    position: relative;
    background: #fff;
    border: 1px solid #EBEBEC;
    border-radius: 16px;
    padding: 12px 16px;
    padding-right: 48px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #181B22;
    cursor: pointer;
    user-select: none;
  }

  .custom-select .chevron {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .custom-select.open .chevron svg{
    transform: rotate(180deg);
  }

  .custom-select .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: none;
    margin: 4px 0 0 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #EBEBEC;
    border-radius: 16px;
    overflow-y: visible;
    display: none;
    z-index: 1000;
  }

  .custom-select .options li {
    padding: 12px 16px;
    cursor: pointer;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #4F4F57;
  }

  .custom-select .options li:hover {
    background-color: #7C3AED;
    color: #ffffff;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
  }

  .custom-select .options li:first-child:hover,
  .custom-select .options li.selected:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .custom-select .options li:last-child:hover,
  .custom-select .options li.selected:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .custom-select .options li.selected {
    background-color: #7C3AED;
    color: #ffffff;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 128%;
    letter-spacing: -0.008em;
  }

  .custom-select.open .options {
    display: block;
  }

  /* Календарь */   
  .calendar-period {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .calendar-period span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #7A52FF;
  }

  /*Кнопки*/

  .button-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 200px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #7A52FF;
    border-radius: 16px;
    background-color: #F9F9F9;
    color: #7A52FF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    cursor: pointer;
  }

  /*Сетка броней*/
   /*Дата/день недели*/
  #day-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCFF00;
    height: 44px;
    border-radius: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #4F4F57;
  }

  #day-header h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1;
  }

    /*Специалисты*/
  #hide-specialists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 128%;
    letter-spacing: -0.008em;
    color: #7A52FF;
  }

  .specialist-time {
    display: flex;
    gap: 1px;
  }
  
  .time-cell {
    background-color: #CCFF00;
    height: 8px;
    flex: 1;
    position: relative;
  }
  
  .time-cell:nth-child(4n):not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background-color: #A1AAB9;
  }

  .specialist-time span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 144% !important;
    letter-spacing: -0.008em;
    color: #4F4F57;
  }

    /* Таблица броней */
  table th:first-child,
  table td:first-child {
    width: 112px !important;
    min-width: 112px !important;
    max-width: 112px !important;
  }

  .table-bordered {
    border-radius: 16px;
    border: 1px solid #FFFFFF !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
    font-family: 'Manrope';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 144% !important;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .table-bordered th,
  .table-bordered td {
    border: none !important;
    text-align: center;
    vertical-align: middle;
  }

  .table-bordered thead tr th {
    background-color: #E7F0FB;
    border: 1px solid #FFFFFF !important;
    border-bottom: none !important;
    font-weight: 400 !important;
  }

  .table-bordered tbody tr:first-child td {
    border-top: none !important;
  }
    
  .table-bordered tbody td {
    border: 1px solid #EBEBEC !important;
  }

  .table-bordered tbody td:nth-child(4n+1):not(:last-child) {
    border-right: 1px solid #818EA2 !important;
  }