{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/neon-dark-theme.css' %}">
</head>
<div class="menu2 sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form method="post">
                    {% csrf_token %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button type="submit" name="day7" class="nav_btn_flat" value="Сегодня">
                                <i class="fas fa-calendar-day"></i> Сегодня
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" name="allday" class="nav_btn_flat" value="Месяц">
                                <i class="fas fa-calendar-alt"></i> Месяц
                            </button>
                        </li>
                        <li class="nav-item">
                            &nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="nav-item">
                            <input type="date" name="from_date" class="form-control" value="{{ show_datefrom }}">
                        </li>
                        <li class="nav-item">
                            <input type="date" name="to_date" class="form-control" value="{{ show_dateto }}">
                        </li>
                        <li class="nav-item">
                            <button type="submit" name="repiod" class="nav_btn_flat" value="За период">
                                <i class="fas fa-calendar-week"></i> За период
                            </button>
                        </li>
                    </ul>
                </form>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if request.user.is_staff %}
                    <li class="nav-item dropdown">
                        <button type="button" class="nav_btn_flat" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <i class="fas fa-tools"></i> Меню для админа
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'admin_index' %}">Супер админка</a>
                            <a class="dropdown-item" href="{% url 'payment' %}">Таблица платежей</a>
                            <a class="dropdown-item" href="{% url 'paytable' %}">Сводная таблица</a>
                            <a class="dropdown-item" href="{% url 'stats_school' %}">Статистика школы</a>
                            <a class="dropdown-item" href="{% url 'stats_average' %}">Статистика примерная</a>
                            <a class="dropdown-item" href="{% url 'stats_profit' %}">Статистика графики</a>
                            <a class="dropdown-item" href="{% url 'stats_all' %}">Статистика за год</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <button type="button" class="nav_btn_flat" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <i class="fas fa-user-plus"></i> Добавить клиента
                        </button>
                        <div class="dropdown-menu">
                            <form method="post" class="dropdown-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h5 class="form-title">Новый клиент</h5>
                                    <label class="form-label">Имя для отображения</label>
                                    <input type="text" class="form-control" name="name">
                                    <label class="form-label">Контактные данные</label>
                                    <input type="text" class="form-control" name="phone">
                                    <input type="hidden" class="form-control" name="iditem" value="{{ client_id }}">
                                    <label class="form-label">Комментарий</label>
                                    <textarea class="form-control" name="comment" placeholder="Написать комментарий"></textarea>
                                    <button type="submit" name="adduser" class="nav_btn_flat mt-3">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <button type="button" class="nav_btn_flat" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <i class="fas fa-ticket-alt"></i> Добавить абонемент
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <form method="post" class="dropdown-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h5 class="form-title">Создать абонемент/сертификат</h5>
                                    <label class="form-label">Выберите тип</label>
                                    <select class="form-select" name="idoblast">
                                        <option value="0" disabled selected>Для кого абонемент/сертификат?</option>
                                        <option value="1">Абонемент Школа</option>
                                        <option value="2">Абонемент Студия</option>
                                        <option value="10">Сертификат</option>
                                    </select>
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="form-label">Цена</label>
                                            <input type="number" placeholder="Цена" min="0" class="form-control" name="price">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Часы</label>
                                            <input type="number" placeholder="Кол-во часов" min="1" class="form-control" name="kolvohour">
                                        </div>
                                    </div>
                                    <label class="form-label">Срок действия (дни)</label>
                                    <input type="number" placeholder="Срок действия (дни)" min="1" class="form-control" name="days">
                                    <label class="form-label">Клиент</label>
                                    <select class="form-select js-chosen" name="userid">
                                        <option value="0">Укажите клиента</option>
                                        {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.email }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-check mt-2">
                                        <input type="checkbox" class="form-check-input" id="probnoe" name="probnoe" value="1">
                                        <label class="form-check-label" for="probnoe">Абонемент с пробного занятия?</label>
                                    </div>
                                    <button type="submit" name="create_abon" class="nav_btn_flat mt-3">Создать</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
