<div class="row">
    <div class="col-12">
        <div class="block_obl">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div style="text-align: center;">
                            <input type="submit" name="removeobl" value="Все" class="obl_sub">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center;">
                            <input type="submit" name="set_school" value="Школа" class="obl_sub">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center;">
                            <input type="submit" name="set_studia" value="Студия" class="obl_sub">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
