/* Tips */

width: 860px;
height: 17px;

/* Mobile/Body Small */
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 144%;
/* or 17px */
text-align: right;

color: #4F4F57;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
