/* Amount */

width: 151px;
height: 28px;

/* Desktop/H3 */
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 128%;
/* or 28px */
letter-spacing: -0.008em;

color: #181B22;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
