/* Modal */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 24px 32px;
gap: 24px;

position: absolute;
width: 908px;
height: 800px;
left: calc(50% - 908px/2);
top: calc(50% - 800px/2);

background: #F9F9F9;
border-radius: 16px;
