<h2>Админка | <a href="{% url 'logout' %}">Выход</a></h2>
<hr>
<a href="{% url 'add_user' %}">Добавить пользователя</a><br>
<a href="{% url 'add_uslugi' %}">Добавить Услуги</a><br>
<a href="{% url 'add_gruslugi' %}">Группы услуг</a><br>
<a href="{% url 'add_salary' %}">Добавить Зарплаты</a><br>
<a href="{% url 'add_connect' %}">Добавить связь аккаунтов</a><br>
<hr>
<a href="{% url 'add_room' %}">Добавить помещение</a><br>
<a href="{% url 'add_tarif' %}">Добавить тариф</a><br>
<a href="{% url 'add_colorblock' %}">Закрасить блок</a><br>
<hr>
<br>
<a href="{% url 'index' %}">Вернуться на сайт</a><br>
