<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CRM</title>
    {% include 'booking/add/head.html' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <a href="#top"><div class="up_arrow"></div></a>
    {% include 'booking/add/menu.html' %}

    <div class="container">
        <h2>Добро пожаловать: {{ request.user.email }}</h2>

        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <a href="?m={{ previous_month }}&y={{ current_year }}"><<</a>
                    {{ month_names|slice:current_month }} {{ current_year }}
                    <a href="?m={{ next_month }}&y={{ current_year }}">>></a>
                </h4>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <input type="time" name="timestart" value="09:00"> Начало
            <input type="time" name="timeend" value="18:00"> Конец
            <input type="submit" name="add_m" value="Добавить">
            <input type="submit" name="del_m" value="Удалить">
        </form>

        <table>
            <tr>
                <th></th>
                {% for day in range(day_count) %}
                    <th>{{ day + 1 }}</th>
                {% endfor %}
            </tr>
            {% for manager in managers %}
                <tr>
                    <td>{{ manager.user.email }}</td>
                    {% for day in range(day_count) %}
                        <td>
                            {% for smena in all_smena %}
                                {% if smena.date.day == day + 1 and smena.user == manager.user %}
                                    {{ smena.timestart }} {{ smena.timeend }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
