<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    {% include "add/head.html" %}
    {% include "css/main.css" %}
</head>
<body id="body">
    <a name="top"></a>
    <a href="#top"><div class="up_arrow"></div></a>
    {% include "add/menu.html" %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать смену преподавателя <span id="show_id"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" onsubmit="return confirm('Внести изменения в смену?');">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 mt-2">
                                <input type="date" name="date" class="form-control" id="date_smena">
                                <input type="hidden" name="idsmena" class="form-control" id="id_smena">
                            </div>
                            <div class="col-6 mt-2">
                                <input type="text" class="form-control" name="comment" placeholder="Комментарий (время)" id="comment_smena">
                            </div>
                            <div class="col-12 mt-2">
                                <input type="submit" name="editsmena" value="Редактировать" class="btn btn-warning">
                                <input type="submit" name="delsmena" value="Удалить" class="btn btn-danger">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать смену администратора <span id="show_id"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" onsubmit="return confirm('Внести изменения в смену?');">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 mt-2">
                                <input type="date" name="date" class="form-control" id="date_smenam">
                                <input type="hidden" name="idsmena" class="form-control" id="id_smenam">
                            </div>
                            <div class="col-6 mt-2">
                                <input type="text" class="form-control" name="comment" placeholder="Комментарий (время)" id="comment_smenam">
                            </div>
                            <div class="col-3 mt-2">
                                <input type="time" class="form-control" name="timestart" id="timestart_smena"> Начало
                            </div>
                            <div class="col-3 mt-2">
                                <input type="time" class="form-control" name="timeend" id="timeend_smena"> Конец
                            </div>
                            <div class="col-12 mt-2">
                                <input type="submit" name="editsmena_m" value="Редактировать" class="btn btn-warning">
                                <input type="submit" name="delsmena_m" value="Удалить" class="btn btn-danger">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4">
                <h2>Добро пожаловать: {{ user.email }}</h2>
            </div>
            <div class="col-md-6 mt-4">
                {% include 'add/oblast_change.html' %}
            </div>
        </div>

        {{ text_warning|safe }}

        <div class="row">
            <div class="col-md-12 mt-4">
                {% for row in adds %}
                    <div class="list_sotr" style="background: {{ row.color }};">
                        {{ row.email }} | {{ row.comment }} | {{ row.oblast.nameru }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 mt-4">
                    <table class="table table-bordered" cellspacing=0 cellpadding=2>
                        <tr>
                            <td colspan=7>
                                <table width="100%" border=0 cellspacing=0 cellpadding=0>
                                    <tr>
                                        <td align="left"><a href="{{ prev }}">&lt;&lt;&lt;</a></td>
                                        <td align="center">{{ month_names|slice:":1"|join:" " }} {{ y }}</td>
                                        <td align="right"><a href="{{ next }}">&gt;&gt;&gt;</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Пн</td><td>Вт</td><td>Ср</td><td>Чт</td><td>Пт</td><td>Сб</td><td>Вс</td>
                        <tr>
                        {% for d in range(start, end|add:1) %}
                            {% if forloop.counter0|divisibleby:7 %}<tr>{% endif %}
                            <td align="center" style="width: 100px; padding: 3px;">
                                {% if d < 1 or d > day_count %}
                                    &nbsp;
                                {% else %}
                                    {% with now=y|stringformat:"d"|add:"-"|add:m|stringformat:"d"|add:"-"|add:d|stringformat:"d" %}
                                        <input type="checkbox" name="day{{ d }}" value="{{ d }}">
                                        {% if d == day_now and m_now == m and y_now == y %}
                                            <b><u><a class="tdn" class="now">{{ d }}</a></u></b><br>
                                            {{ getSmena(now, all_smena) }}
                                            {{ getSmenaManager(now, all_smena_manager) }}
                                        {% else %}
                                            {{ d }}
                                            {{ getSmena(now, all_smena) }}
                                            {{ getSmenaManager(now, all_smena_manager) }}
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            </td>
                            {% if forloop.last %}</tr>{% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
