<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    {% include 'add/head.html' %}
    {% include 'css/main.html' %}
</head>
<body>
<div class="container">
    <div class="container-lg-none" style="overflow-x: scroll; padding-bottom: 20px;">
        <table class="table table-bordered" style="width: 2900px;">
            <tr>
                <th style="width: 300px;">Месяц</th>
                <th colspan="3">Январь</th>
                <th colspan="3">Февраль</th>
                <th colspan="3">Март</th>
                <th colspan="3">Апрель</th>
                <th colspan="3">Май</th>
                <th colspan="3">Июнь</th>
                <th colspan="3">Июль</th>
                <th colspan="3">Август</th>
                <th colspan="3">Сентябрь</th>
                <th colspan="3">Октябрь</th>
                <th colspan="3">Ноябрь</th>
                <th colspan="3">Декабрь</th>
            </tr>

            <tr>
                <th style="width: 300px;">Школа</th>
                {% for i in range(1, 13) %}
                <td style="white-space: nowrap;">кол-во</td>
                <td style="white-space: nowrap;">суммы</td>
                <td style="white-space: nowrap;">сред. чек</td>
                {% endfor %}
            </tr>

            <tr>
                {% include 'your_template_with_statline_13.html' %}
            </tr>
            <tr>
                {% include 'your_template_with_statline_471.html' %}
            </tr>
            <tr>
                {% include 'your_template_with_statline_427.html' %}
            </tr>
            <tr>
                {% include 'your_template_with_statline_10.html' %}
            </tr>
            <tr>
                {% include 'your_template_with_statline_46.html' %}
            </tr>

            <tr>
                {% include 'your_template_with_countabon.html' %}
            </tr>

            <tr>
                {% for key, value in all_money_show.items %}
                {% if key != 0 %}
                <td style='white-space: nowrap;' colspan='3'>{{ value }}</td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
{% include 'your_js_template.html' %}
</body>
</html>
