<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CRM</title>
    {% include 'add/head.html' %}
    {% include 'css/main.html' %}
</head>
<body>
    {% include 'add/menu.html' %}
    {% include 'add/menu_cabinet.html' %}

    <div class="container mt-4" style="min-height: 700px;">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-3 mt-4">
                        <img src="../{{ image_user }}.png" class="img-fluid">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" id="input__file" style="display: none;" class="input input__file" name="image">
                            <label for="input__file" class="input__file-button">
                                <span class="input__file-button-text">Выберите файл</span>
                            </label>
                            <br>
                            <div class="row">
                                <div class="col-2">
                                    <label for="input__file" class="download_ico"></label>
                                </div>
                                <div class="col-10">
                                    <input type="submit" name="add_foto" value="Загрузить фото" class="btn_main">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-9 mt-4">
                        <h2>{{ name_client }}</h2>
                        <p>
                            <br><span class="gray_text">Контактные данные:</span> <br> {{ phone }} | <br>
                            <br><span class="gray_text">Статус клиента:</span> <br> {{ user_status }}
                        </p>
                        <p>
                            <br><span class="gray_text">Комментарии:</span> <br>
                            {{ comment }} {{ howknow_show }}
                        </p>

                        <form method="post" enctype='multipart/form-data'>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <select class="form-select mt-2" name="howknow">
                                        <option value="0" selected>Как узнал о нас?</option>
                                        <option value="1" {% if howknow == 1 %} selected {% endif %}>Инстаграмм</option>
                                        <option value="2" {% if howknow == 2 %} selected {% endif %}>Вк</option>
                                        <option value="3" {% if howknow == 3 %} selected {% endif %}>Реклама</option>
                                    </select>
                                    <input type="number" class="form-control mt-2" name="comment2" step="0.01"
                                    placeholder="% персональной скидки" value="{{ comment2 }}">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control mt-2" name="name" placeholder="Имя для отображения"
                                    value="{{ name_client }}">
                                    <input type="text" class="form-control mt-2" name="phone" placeholder="Контактные данные"
                                    value="{{ phone }}">
                                    <input type="hidden" class="form-control mt-2" name="iditem" value="{{ id_client }}">
                                </div>
                                <div class="col-md-6">
                                    <textarea class="form-control mt-2" name="comment" placeholder="Комментарий">{{ comment }}</textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" name="change_howknow" class="btn_main mt-2" value="Сохранить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="../js/popper.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/chosen.jquery.js"></script>

        {% include 'js/js.html' %}
        <script>
            let inputs = document.querySelectorAll('.input__file');
            Array.prototype.forEach.call(inputs, function (input) {
                let label = input.nextElementSibling,
                    labelVal = label.querySelector('.input__file-button-text').innerText;

                input.addEventListener('change', function (e) {
                    let countFiles = '';
                    if (this.files && this.files.length >= 1)
                        countFiles = this.files.length;

                    if (countFiles)
                        label.querySelector('.input__file-button-text').innerText = 'Файл выбран!';
                    else
                        label.querySelector('.input__file-button-text').innerText = labelVal;
                });
            });
        </script>
    </div>
</body>
</html>
