dateparser==1.2.0
Django==5.1.2
django_phonenumber_field==8.0.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
drf_spectacular==0.28.0
PyJWT==2.10.1
PyJWT==2.10.1
pytest==8.3.4
